@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  /* Глобальные стили */

* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.global-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2)
}

.index-page,
.catalog-page {
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 117%;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
  background-color: #ffffff;
}

.main-header {
  padding: 0 70px;
}
.main-navigation {
  position: relative;
 display: flex;
 align-items: center;
}

.main-logo-link {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-item {
  display: flex;
}

.navigation-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 184px;
}

.active-link::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  top: 62px;
  background-color:#756257;
}

.navigation-link {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.site-pages-nav {
  min-width: 268px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.want-page-link {
  margin-left: 20px;
}

.header-page-link {
  display: inline-block;
  width: 44px;
  height: 64px;
  padding: 22px 12px;
}

.search-link {
  background-image: url("../images/icons/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.favorite-link {
  position: relative;
  text-decoration: none;
  background-image: url("../images/icons/favorites-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.favorite-counter {
  position: absolute;
  top: 11px;
  right: 3px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 100%;
  color: #ffffff;
  border-radius: 10px;
  background-color: #7db54f;
}

.main-style-button {
  padding: 0;
  font-size: 20px;
  line-height: 180%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.main-style-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-style-button:hover,
.main-style-button:focus {
  background-color: #615048;
  outline: none;
}

.main-style-button:disabled {
  background-color: #e5e5e5;
}

.second-style-button {
  background-color: #82b3d3;
}

.second-style-button:hover,
.second-style-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.variant-color-text {
 color: #ffffff;
}

.want-page-link {
  display: block;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
}

.global-fieldset-style {
  margin: 0;
  padding: 0;
  line-height: 128%;
  border: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.social-link-list {
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  display: flex;
  width: 47px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  fill: #83b3d3;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus {
  fill: #68a2ca;
  outline: none;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.social-link:disabled .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-link {
  font-size: 40px;
  line-height: 100%;
  color: #000000;
  text-decoration: none;
}

.phone-link:hover {
 color: #756157;
}

.phone-link:focus {
  color: #756157;
  outline: none;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-icon {
  fill: #000000;
}

.developer-link:hover .developer-icon {
  fill: #756157;
}

.developer-link:focus .developer-icon {
  fill: #756157;
  outline: none;
}

.developer-link:active .developer-icon {
  fill: rgba(117, 97, 87, 0.3);
}

  /* Стили для index */

.hero-section {
  padding: 0 20px ;
  padding-top: 51px;
  padding-bottom: 82px;
  background-image:url("../images/background/hero-divider.png"), url("../images/background/hero-background.jpg");
  background-size: 100%, cover;
  background-position: center bottom -1px, center center;
  background-repeat: no-repeat;
}

.welcome-vector {
  display: block;
  margin: 0 auto;
}

.slogan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  padding: 69px 20px;

}

.slogan-text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subslogan-text {
  margin: 0;
  font-size: 22px;
  line-height: 118%;
}

.advantages-item {
  width: 400px;
  padding: 112.5px 85px;
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.second-advantages-item{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #82b3d3;
}

.advantages-item-container {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.special-advantages-container {
  width: 400px;
  padding: 20px 0;
  justify-content: center;
}

.third-advantages-item {
  background-color: #e6f0f6;
}

.advantages-title {
  margin: 0;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 700;
  line-height: 117%;
  text-transform: uppercase;
}


.advantages-title ~ p {
  margin: 0;
}

.comfort-slogan-wrapper {
  padding: 64px 20px;
  text-align: center;
}

.comfort-list {
  display: flex;
  flex-wrap: wrap;
}

.comfort-item {
  width: 400px;
  padding: 80px 85px;
  text-align: center;
}

.comfort-item::before {
  display: block;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.comfort-item:nth-child(1):before {
  content: url(../images/icons/house-icon.svg);
}

.comfort-item:nth-child(2):before {
  content: url(../images/icons/burger-icon.svg);
}

.comfort-item:nth-child(3):before {
  content: url(../images/icons/gift-icon.svg);
}

.comfort-item-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.comfort-item-title + p {
  margin: 0;
}

.search-container {
  padding: 96px 20px;
  text-align: center;
}

.search-container .slogan-text {
  margin-bottom: 20px;
}

.search-container .subslogan-text {
  margin-bottom: 54px;
}

.search-container .modal-button {
  padding: 8px 50px;
}

.subscription {
  padding: 96px 50px 104px 50px;
  text-align: center;
  background-image: url("../images/background/subscribe-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.subscription .subslogan-text {
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-form .subscription-button {
  height: 52px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.subscription-field {
  min-width: 452px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.6);
}

.subscription-field:hover {
  background-color: #e6f0f6;
}

.subscription-field:focus {
  background-color: #e6f0f6;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.subscription-field:active {
  outline: none;
}

/* Стили для catalog */

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
}

.filters-wrapper {
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  background-image: url("../images/background/filters-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
}

.inner-page-header {
  margin-bottom: 40px;
}

.catalog-filter-form {
  display: flex;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filters-title {
  margin: 0;
  margin-bottom: 32px;
}

.catalog-title {
  font-size: 60px;
  line-height: 130%;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 131%;
  color: #ffffff;
  text-decoration: none;
}

.catalog-style-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
}

.filters-title {
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
}

.infrastructure-filter {
  margin-right: 70px;
}

.housing-type-filter {
  margin-right: 149.5px;
}

.range-filter {
  margin-right: 70px;
}

.range-input-container {
  display: flex;
}

.range-input-container input{
  width: 143px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 133%;
  font-weight: 700;
}

.range-input-min {
  margin-right: 2px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border: none;
  border-radius: 0 4px 4px 0;
}

.form-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-buttons-container button {
  padding: 8px 50px;
  border-radius: 4px;
}

.submit-filters-button {
  background-color: #82b3d3;
}

.reset-filters-button {
  background-color: transparent;
}

.submit-filters-button {
  margin-bottom: 32px;
}

.hotels-catalog {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
}

.sorting-filters-container {
  display: flex;
  margin-bottom: 40px;
}

.hotel-number-result {
  margin: 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel-selection {
  padding: 14px 20px;
  padding-right : 131px;
  appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icons/selection-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.view-change-list {
  display: flex;
}

.hotel-selection {
  margin-right: 70px;
}

.view-change-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.view-change-item:last-child {
  margin-right: 0;
}

.view-change-button {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-change-selected {
  border-color: #000000;
}

.catalog-cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 80px;
}

.cards-list-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}


.card-title {
  margin: 0;
  margin-bottom: 16px;
  order: 1;
  font-size: 24px;
  line-height: 117%;
  font-weight: 700;
  color: #000000;
}

.card-img {
  display: inline-block;
  margin-bottom: 16px;
  order: 0;
}

.card-info-container {
  order: 2;
}

.price-and-type-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.price-and-type-container p {
  margin: 0;
}

.card-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card-rating-container {
  display: flex;
  justify-content: space-between;
}

.hotel-stars {
  width: 140px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: left;
}

.four-stars-rating {
  background-image: url("../images/icons/four-star.svg");
}

.three-stars-rating {
  background-image: url("../images/icons/three-star.svg");
}

.two-stars-rating {
  background-image: url("../images/icons/two-star.svg");
}

.card-rating {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 23px;
  padding-right: 22px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  background-color: #f2f2f2;
}


.about-card-link {
  font-family: inherit;
  padding: 8px 26px;
  border-radius: 4px;
  text-align: center;
}

.card-toggle-button{
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #82b3d3;
}

.catalog-pagination {
  display: flex;
  flex-wrap: wrap;
}

.catalog-pagination-item:last-child {
  margin-right: 0;
}

.card-selected {
  background-color: #7db54f;
}

.catalog-pagination-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots {
  font-size: 22px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.catalog-subscription {
  background-image: none;
  background-color: #ffffff;
}

.catalog-subscription .slogan-text {
  color: #000000;
}

.catalog-subscription-field {
  background-color: #f2f2f2;
}
